---
import Base from "../layouts/Base.astro";
---

<Base page="About">
	<section class="grid" aria-labelledby="about-heading">
		<div class="block invert">
			<h1 id="about-heading">About</h1>
			<p>Hey I'm Brennan! I'm a live sound engineer based in NYC. I have over 10 years of experience doing audio for live events - specializing in live music and theatre.</p>
		</div>
		<div class="block">
			<p>
				I am originally from NYC, but grew up in North Carolina. For the past 5 years, I have been working locally in NC and touring nationally with TYA shows.
			</p>
			<p>
				As of September 2025 I will be returning to NYC full time - open for freelance work locally and beyond.
			</p>
			<p>
				My expertise is in live music, theatre, and touring audio. Whether you're looking for a QLab programmer, A1, A2, draftsperson, FOH engineer, or production manager, I've got you covered.
			</p>
			<p>
				I am passionate about providing both performers and audiences with the best possible experience.
			</p>
		</div>
	</section>
</Base>


