---
import Base from "../layouts/Base.astro";
import ALCOPMarkdown from "../content/alcop.md";
---

<Base page="About">
	<section class="grid" aria-labelledby="about-heading">
		<div>
			<h1 id="about-heading">ALCOP Project Page</h1>
			<h2>Media</h2>
			<p id="about-heading"> 
				<a href="https://www.dropbox.com/scl/fo/4yrbhdhaqj5u4sjkm6mpx/ACQTaERq4UVMX1N8fhb0QCM?rlkey=wflf9qyw5w11ggygzdlf5rto8&st=pov0x7ug&dl=0" target="_blank" rel="noopener noreferrer">
					Noise Reduction Test
				  </a>
			</p>
		</div>
		<div class="block">
			<ALCOPMarkdown />
		</div>
	</section>
</Base>


